/* set up */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1b1b1b;
}

.element {
  padding: 2rem;
}

/* used perfect fourth scale from https://type-scale.com/ */
h1 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 4.209em;
}

h2 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 3.157em;
}

h3 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 2.369em;
}

h4 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1.777em;
}

h5 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 1.333em;
}

p {
  line-height: 150%;
}

figcaption {
  font-size: .8em;
  color: #F9CF00;
}

.limit {
  max-width: 100%;
  max-height: 100%;
}

#hamburger {
  position: fixed;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  padding: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  left: 0;
}

#hamburger:hover {
  cursor: pointer;
}

/* header */
.heading {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  padding: 1rem;
}

.signature {
  display: block;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.sig-link {
  color: #222;
  display: inline-block;
  padding: 0;
}

.sig-link > *{
  color: #222;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sig-link:visited > * {
  color: #222;
}

.sig-link:hover > * {
  color: #666;
  padding-left: 1.5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

/* .signature > * {
  padding: 0;
  margin: 0;
} */

/* .signature h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
} */

a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* interactive elements */
.link {
  text-decoration: none;
  color: #F1592B;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.link:visited {
  color: #F1592B;
}

.link:hover {
  color: #F9CF00;
  -webkit-transition: 1s;
  transition: 1s;
}

.link:active {
  color: #F9CF00;
}


.selection {
  display: none;
}

.nav-main {
  display: none;
  position: fixed;
  padding-left: 3rem;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999999;
}

.nav-button {
  display: block;
  padding: 1rem 1rem;
  /* -webkit-transform: none;
          transform: none; */
  -webkit-transition: .25s;
  transition: .25s;
}

.nav-button:hover {
  position: relative;
  padding: 1rem 1rem;
  padding-left: 2rem;
  /* -webkit-transform: translate(5px, 0px);
          transform: translate(5px, 0px); */
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-button:focus {
  position: relative;
  /* -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px); */
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown {
  background: #D9D9D9;
  border-radius: 3px;
  text-align: center;
}

.dropdown:focus {
  text-decoration: none;
}

.image-link-container {
  position: relative;
  width: 100%;
  height: 14rem;
  /*
  width: 12rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  */
  margin: 1rem auto; 
}

.image-link-container h4 {
  position: absolute;
  padding: 2rem;
  margin: 0;
  color: white;
  bottom: 0;
  /* 
  text-shadow: -1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
 1px 1px 0 #000; */
}

.image-link {
  object-fit: cover;
  /* object-position: 50% 50%; */
  width: 100%;
  height: inherit;
  /* width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  */ 
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s; 
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  text-align: center;
  top: 0;
  left: 0;
}

.overlay:hover {
  /* background: rgba(86, 120, 168, 0.9); */
}

.image-link-container:hover .image-link {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 760px) {
  #hamburger {
    display: none;
  }
  /* header */
  .signature {
    text-align: left;
  }
  .signature > * {
    padding: 0;
    margin: 0;
  }
  .signature h1, .signature a {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .nav-main {
    position: relative;
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .nav-button {
    display: inline-block;
  }
  /* .dropdown-item {
        text-align: center;
    } */
  /* text-elements */
  p {
    /* background: lightblue; */
    max-width: 40rem;
    border-radius: 3px;
  }
  .tooltip {
    /*tooltip styling modified from w3schools.com/css/css_tooltip.asp */
    position: relative;
    display: inline;
    color: #5678a8;
  }
  .tooltip .tooltiptext {
    /* Tooltip text */
    visibility: hidden;
    background-color: white;
    color: #fff;
    padding: 1rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip:hover .tooltiptext {
    /* Show the tooltip text when you mouse over the tooltip container */
    display: inline;
    visibility: visible;
    -webkit-transition: 1s;
    transition: 1s;
    background: black;
  }
  /* combined elements */
  .image-link-container {
    /* margin: 1rem; */
  }
  .selection, .nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  /* sort later */
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about h2 {
    margin: 0;
    padding: 0;
  }
  .hidden {
    display: none;
    position: absolute;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.sgaccent {
  width: 100%;
  height: 4rem;
  background: #F1592B;
}

.sgaccent-down {
  width: 100%;
  height: 4rem;
  background: #F9CF00;
}

.sgneutral {
  width: 100%;
  height: 4rem;
  background: #D9D9D9;
}

.sginteract {
  width: 100%;
  height: 4rem;
  background: #5678a8;
}

.sg {
  padding: 3rem;
}
/*# sourceMappingURL=main.css.map */